*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: HelveticaNeue, sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  background-size: contain;
  background-color: #000;
  margin-bottom:40px;
  h1 {
    display: inline-block;
    padding: 0 20px;
  }
  a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    &.active,
    &:hover {
      background-color: #fff;
      color:#000;
    }
  }
}

html, body, .container {
  width:100%;
  height:100%;
}

section {
 padding: 20px;
}

/* Histogram */
.hgraph {

  .bar {
    rect {
      fill:steelblue;

      &:hover {
        opacity:0.7;
      }
    }

    text {
      font:10px sans-serif;
    }
  }
}

/* Co-occurrence Matrix */
.matrix {
  line {
    stroke: #fff;
  }
}
.captions {
  margin-left:100px;
}

.row {
  margin-bottom:1px;
  display:block;

  .caption {
    font-size:10px;
    display:inline-block;

    &.top {
      text-align:left;
    }

    &.left {
      text-align:right;
    }
  }
}
